*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  --html-color: #ffffff;
  --main-background-color: rgb(253, 249, 249);
  --navbar-background-color: white;
  --navbar-text: rgb(37, 28, 28);
  --section-title-color: black;
  --header-height: 80px;
}

body {
    background-image: url("media/background-img1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    color: #1b1b32;
    margin: 0;
    width: 100%;
    font-family: Helvetica, sans-serif;
  }

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}

li {
  list-style-type: none;
}

/* MEDIA QUERY */
  /* small screen */
@media (max-width: 768px) {
  :root {
  --header-height: 40px;
  }

  #link-exp::before {
    content: "Exp.";
  }
  #link-quali::before {
    content: "Studies";
  }
  #link-skills::before {
    content: "Skills";
  }
  #link-mail::before {
    content: "@";
  }

  nav > ul > li {
    padding: 0 0.1em;
  }

}

  /* larger screens */
@media (min-width: 768px) {
  :root {
  --header-height: 80px;
  }

  #link-exp::before {
    content: "EXPERIENCE";
  }
  
  #link-quali::before {
    content: "QUALIFICATIONS";
  }
  #link-skills::before {
    content: "SKILLS";
  }
  #link-mail::before {
    content: "EMAIL ME";
  }

  nav > ul > li {
    padding: 1em;
  }

}

/* HEADER */

#navbar {
    width: 100%;
    height: var(--header-height);
    background-color: var(--navbar-background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 9;
    border-bottom: 2px solid #2b2b2b;  
}

#logo {
  height: calc(var(--header-height) - 2px);
}

h1 {
  color: var(--navbar-text);
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
}

#navbar a:visited, nav > ul > li > a {
  color: var(--navbar-text);
}

nav > ul {
    display: flex; 
    flex-wrap: wrap;
    font-size: 1em;
}

/* MAIN */

main {
  margin: auto;
  position: relative;
  top: var(--header-height);
  max-width: 800px;
  background: var(--main-background-color);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#introduction {
  display: flex;
  align-items: center;
  padding: 80px 0 80px 0;
  height: calc(100vh - var(--header-height));
}

#introdution-p {
  margin: 0 5%;
  padding: 2rem;
  background-color: rgb(163, 4, 4);
  color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#introduction p {
  padding-left: 1.5rem;
  line-height: 2rem;
  font-style: italic;
}

h2 {
  padding: 80px 0 35px 35px;
  color: var(--section-title-color);
}

/* EXPERIENCE */

.role-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.employer-container {
  font-size: 15px;
  padding-left: 2rem;
  margin: 1rem 0;
}

position-name {
  font-weight: bold;
}

.employer-name a {
  padding-right: 15px;
  font-weight: bolder;
  color: black;
}

.employer-name a:hover {
  color: orangered;
}

.position-date {
  font-weight: 1;
  font-style: italic;
  font-size: medium;
}

.role-container > span {
  padding: 0 1rem;
}

.role-responsibility {
  margin: 0 3rem 2rem 3rem;
  line-height: 1.5rem;
  list-style-type: none;
}

.role-responsibility li {
  margin: 4px 0;
  padding-left: 5px;
  border-left: 2px solid red;
}

/* SKILLS */



/* EDUCATION */

.degree {
  padding: 1rem 0 1rem 1rem;
}

.qual-item {
  padding-left: 2rem;
}

.qual-item li {
  margin: .5rem auto;
}

.space {
  margin: 1rem 0;
}

/* FOOTER */

#footer {
  height: var(--header-height);
  width: 100%;
  background-color: white;
  border-top: 1px solid black;
  z-index: 9;
  position: relative;
  bottom: calc(0 - .5rem);
}

#footnote {
  margin: 2rem auto;
  text-align: center;
}